@use "../abstracts/mixin.scss" as *;
@use "../abstracts/variables.scss" as *;

#mainHeader {
  width: 100%;
  padding: 5px 15px;
  z-index: 999;
  background-color: $headerAndNavBackground;
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: $navTextColor;

  .logo {
    font-family: $poiretOneFont;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
  }

  .mainNav {
    background-color: $headerAndNavBackground;
    width: 100%;
    height: calc(100dvh - 50.3px);
    position: absolute;
    top: 50.3px;
    left: 100vw;
    opacity: 0;
    visibility: hidden;

    @include responsive($s) {
      height: calc(100dvh - 50.4px);
      top: 50.4px;
    }

    @include responsive($l) {
      @include restPosition;
      background-color: unset;
      height: unset;
      opacity: 1;
      visibility: visible;
      display: block;
    }

    .navList {
      width: 100%;
      height: 100%;
      color: $navTextColor;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      @include responsive($l) {
        height: unset;
        flex-direction: row;
      }

      li {
        @include responsive($xl) {
          cursor: pointer;
        }
      }
    }
  }

  .header-actions {
    width: calc(fit-content + 30px);
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 20px;
    @include responsive($xl) {
      gap: 50px;
    }

    .screen {
      color: $distinctiveTextColor;
    }

    .menuToggle {
      @include responsive($l) {
        display: none !important;
      }
    }
  }
}
